h1 
  {
      border-style: solid;
      border-color: purple;
      Background-color: orange;
      padding: 20px;
      text-align: center;
      
      
  }

h2
  {
      border-style: solid;
      border-color: purple;
      Background-color: yellow;
      padding: 20px;
      text-align: center;
  }

h3 
  {
      border-style: solid;
      border-color: purple;
      Background-color: orange;
      padding: 20px;
      text-align: center;
  }
p
  {
      border-style: solid;
      border-color: purple;
      background-color: orangered;
      padding: 20px;
      text-align: center;
     
  }

.Directory1 
  { 
    border-style: solid;
    border-color: purple;
    background-color: yellow;
    padding: 20px;
    text-align: center;
    position: center;
    
  }

table, th, td 
   {
     border: 3px solid purple;
     border-collapse: collapse;
     position: center;
    padding: 10px;

   }
 

img.main-screen
   {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
     border: 3px solid purple;

   }

img 
    {
     margin-left: auto;
     margin-right: auto;
     border: solid 3px purple;
    

    }   

body
    {
   
    background-image: url(./assets/images/grateful-dead-bill-cannon.jpg)
     


   }   

.interests-table {
      background-color: orange;
      border-style: solid;
      border-color: purple;
      padding: 20px;
      text-align: center;
  }

ol 
   {
    Background-color: yellow;
    border: solid 3px purple;
    position: center;
    padding: 20px;

   }

li  
   {
    position: center;

   }